@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@100&display=swap');
.card {
  font-family: 'Montserrat', sans-serif;
  width: 400px;
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 543px;
  margin-bottom: 3px;
  font-weight: 700;
}

.card_image {
  width: 100%;
  height: 232.9px;
  object-fit: cover;
}

.card_content {
  padding: 16px;
}

.card_title {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.2;
  color: #333;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_description {
  margin-top: 8px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #6e6b7b;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.line {
  border: rgba(110, 107, 123, 0.1) solid 0.0000002rem;
}

.card_tags {
  display: flex;
  margin-bottom: 16px;
}

.card_tag {
  margin-right: 8px;
  padding: 4px 8px;
  background-color: #f5f5f5;
  color: #8e8e8e;
  border-radius: 180px;
  font-size: 12px;
}

.card_writter {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.card_writter_image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.card_writter_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.by {
  font-weight: 100;
}
.card_writter_name {
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  color: #333;
  line-height: 1.2;
}

.card_writter_likes {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_read_more {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: #7367f0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card_read_more:hover {
  text-decoration: dotted;
}

.card_status {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.card_status_pending {
  color: rgb(252, 147, 50);
}

.card_status_approved {
  color: rgb(84, 173, 0);
}

.card_status_declined {
  color: rgb(182, 0, 0);
}

.card_date {
  font-size: 14px;
  color: #555;
}
