
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Montserrat:wght@200&display=swap');
.blog-title{

    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 35px;
    color: #000000;
}
.blog-sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #000000;
}

#link-color{
    font-family: 'Montserrat';
    font-style:normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 0.1em;

}

.bold-text{

    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #000000;
}

.small-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #737373;
}
