.about-section {
    display: grid;
    grid-template-columns:repeat(2,50%) ;
    padding: 50px;
    /* background-color: #cc1717; */
  }
  .img-col{
    display: grid;
    /* background-color: yellow; */
    justify-content: center;
    gap: 24px;
    grid-template-columns:388px 388px;  
    grid-template-areas: "img1 img2" "img3 img3";
  }
  .img1{grid-area: img1;}
  .img2{grid-area: img2;}
  .img3{grid-area: img3;}
  
  .about-section img {
    /* background-color: red; */
    max-width: 100%;
    height: auto;
    
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .overlayed-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .about-section .col {
    padding: 10px;
  }
  
  .about-section .col p {
    font-weight: 400;
    font-size: 24px;
    line-height: 37.8px;
  }
  
  
  h1{
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 104% */
  
  display: flex;
  align-items: center;
  
  /* pirmary color */
  
  }
  
  .blue-word{
    color: blue;
  }