.cards{
    /* background-color:purple; */
    display: flex;
  }
  .cards__items{
    
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    padding: 23px;
    width: 100vw;
   
    /* background-color: red; */
  
  }
  .card__item{
    /* border: 3px solid black; */
    border-radius: 25px;
    box-shadow: -2px -2px 8px rgba(0,0,0,0.05),4px 4px 8px rgba(0,0,0,0.04);
    margin: 13px; 
    /* background-color: green; */
    width: 500px;
    height: 416.67px;
  
  }
  
  li{
    list-style: none;
  }
  .cardss__item{
  
  display: flex;
  width: 500px;
  height: 416.67px;
  background-color: green;
  
  
  }
  .cards__item__img{
    margin-left: 32px;
    margin-top: 29px;
    height: 100px;
    /* width: 100px; */
  
  }
  .cards__item__h4{
    margin-left: 32px;
    font-size: 28px;
  
  
  }
  .cards__item__p{
    margin-left: 32px;
  
  
  }